<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="DeveloperHub_AdminPreview::developerhub"
             title="DevHub"
             module="DeveloperHub_AdminPreview"
             sortOrder="50"
             resource="DeveloperHub_AdminPreview::item"
        />
        <add id="DeveloperHub_AdminPreview::menu"
             title="Admin Preview"
             module="DeveloperHub_AdminPreview"
             sortOrder="10"
             parent="DeveloperHub_AdminPreview::developerhub"
             resource="DeveloperHub_AdminPreview::menu"/>
        <add id="DeveloperHub_AdminPreview::configuration"
             title="Configuration"
             module="DeveloperHub_AdminPreview"
             sortOrder="20"
             action="adminhtml/system_config/edit/section/admin_preview"
             resource="DeveloperHub_AdminPreview::config"
             parent="DeveloperHub_AdminPreview::menu"
        />
    </menu>
</config>
